{
  "openapi": "3.1.0",
  "info": {
    "title": "Encyclopedia of Rhetoric",
    "description": "The Encyclopedia of Rhetoric API provides programmatic access to over 295 entries covering rhetorical terms, theories, figures of speech, historical rhetoricians, and movements.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.encyclopedia-of-rhetoric.com/v1",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "A",
      "description": "Terms starting with A"
    },
    {
      "name": "B",
      "description": "Terms starting with B"
    },
    {
      "name": "C",
      "description": "Terms starting with C"
    },
    {
      "name": "D",
      "description": "Terms starting with D"
    },
    {
      "name": "E",
      "description": "Terms starting with E"
    },
    {
      "name": "F",
      "description": "Terms starting with F"
    },
    {
      "name": "G",
      "description": "Terms starting with G"
    },
    {
      "name": "H",
      "description": "Terms starting with H"
    },
    {
      "name": "I",
      "description": "Terms starting with I"
    },
    {
      "name": "J",
      "description": "Terms starting with J"
    },
    {
      "name": "K",
      "description": "Terms starting with K"
    },
    {
      "name": "L",
      "description": "Terms starting with L"
    },
    {
      "name": "M",
      "description": "Terms starting with M"
    },
    {
      "name": "N",
      "description": "Terms starting with N"
    },
    {
      "name": "O",
      "description": "Terms starting with O"
    },
    {
      "name": "P",
      "description": "Terms starting with P"
    },
    {
      "name": "Q",
      "description": "Terms starting with Q"
    },
    {
      "name": "R",
      "description": "Terms starting with R"
    },
    {
      "name": "S",
      "description": "Terms starting with S"
    },
    {
      "name": "T",
      "description": "Terms starting with T"
    },
    {
      "name": "U",
      "description": "Terms starting with U"
    },
    {
      "name": "V",
      "description": "Terms starting with V"
    },
    {
      "name": "W",
      "description": "Terms starting with W"
    },
    {
      "name": "X",
      "description": "Terms starting with X"
    },
    {
      "name": "Y",
      "description": "Terms starting with Y"
    },
    {
      "name": "Z",
      "description": "Terms starting with Z"
    }
  ],
  "paths": {
    "/terms/accumulatio": {
      "get": {
        "tags": [
          "A"
        ],
        "summary": "Accumulatio",
        "description": "Stringing together words, phrases, or clauses\nthat say essentially the same thing. The author\nof Rhetorica ad Herennium used accumulatio\nin explaining, \"He [the defendant] is the betrayer of his own self-respect, and the waylayer\nof the self-respect of others; covetous, intemperate, irascible, arrogant; disloyal to his parents,\nungrateful to his friends\" (I.xl). Repetition, the\nessence of accumulatio, can be used to amplify\na contention, as in the above quotation, or to\nmake an audience more comfortable with an\nunfamiliar idea by allowing them to dwell on it.\nShakespeare achieves the latter effect humorously in Henry IV, Part 2 when Shallow answers Falstaff, \"I will not excuse you; you shall\nnot be excus'd; excuses shall not be admitted;\nthere is no excuse shall serve you; you shall not\nbe excus'd\" (5.1.5).\nArthur Quinn and Lyon Rathbun\nUniversity of California, Berkeley",
        "operationId": "get_accumulatio",
        "responses": {
          "200": {
            "description": "Successful retrieval of the term.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "term": {
                      "type": "string",
                      "example": "Accumulatio"
                    },
                    "content": {
                      "type": "string",
                      "example": "Stringing together words, phrases, or clauses"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/terms/actio": {
      "get": {
        "tags": [
          "A"
        ],
        "summary": "Actio",
        "description": "Latin word for \"action\" or \"doing\"; effective\nuse of physical gestures when delivering a\nspeech. Actio is the Latin term for the effective\ndelivery of a speech. Quintilian writes in Book\n3 of Institutio Oratoria that actio is synonymous with pronuntiatio, or delivery. The latter\nterm is the fifth part of the art of oratory; the\nfirst four are inventio (invention or discovery),\ndispositio (arrangement or organization), elo-\ncutio (style), and memoria (memorizing the\nspeech). Later in Institutio Oratoria, however,\nQuintilian, citing Cicero, distinguishes between\nactio and pronuntiatio, the former referring to\nphysical gestures, the latter to the voice. Quintilian concludes, nevertheless, that whichever term\none uses, the delivery of a speech has a \"powerful effect in oratory\" (Book 11).\nBefore Quintilian, Aristotle and Cicero discussed the importance of delivering speeches effectively. In Book 3 of the Rhetoric, Aristotle\nconsiders delivery \"of the greatest importance.\"\nAnd in De oratore, Cicero asserts that delivery\n\"is the dominant factor in oratory,\" repeating\nthe story that Demosthenes, when asked what\nwas of utmost concern in oratory, said that delivery was first, second, and third in importance\n(Book 3).\nEighteenth-century rhetoricians continued\nto assign actio an important place in oratory.\nHugh Blair (1718–1800) in Lectures on Rhetoric and Belles Lettres (1783) devotes lecture\nnumber thirty-three to the delivery of a speech.\nHe discusses the loudness of the voice, distinctness of articulation, and the slowness andappropriateness of pronunciation; he further mentions emphases, pauses, tones, and gestures\n(11.206–10).\nIn the earlier nineteenth century, Richard\nWhately (1787–1863) considered actio so important that he devoted all of Part 4 of Elements\nof Rhetoric (1828) to this subject. In the table of\ncontents, Part 4 is titled \"Of Elocution, or Delivery.\" Later in the century, however, the growing split between spoken and written rhetoric\nbecame more apparent. For example, Alexander\nBain (1818–1903), in English Composition and\nRhetoric (1866), devotes less than one page (of\nthe 343-page book) to the topic of actio, noting\nonly that the \"Demeanor of the Speaker includes\ncertain points affecting the orator's success\"\n(256). By \"demeanor,\" Bain refers to the speaker's \"tone and manner in general\" (256).\nIn the twentieth century, with the rift ever\nwidening between speech departments and\nACTIO I\nEnglish departments in most schools and colleges\nin the United States, actio and delivery of speeches now receive comparatively little attention. The\nend of this century and the beginning of the next\nmay witness a revival of interest in actio and\ndelivery of speeches as a result of the recently\nrenewed emphasis on the \"whole language\"\napproach, that is, the integration of reading,\nwriting, speaking, and listening. The English\nCoalition Conference, meeting in 1987 under the\naegis of the National Council of Teachers of\nEnglish, passed several resolutions, one of which\nreads, in part, \"The ability to communicate their\n[students'] views in oral and written form . . . is\nalso indispensable to citizens in a democracy.\"\nDavid Sabrio\nTexas A&M University, Kingsville\n\n<BibliographyCard>\nAristotle. The Art of Rhetoric. Trans. John\nHenry Freese. Cambridge, MA: Harvard\nUP, 1926.\nBain, Alexander. English Composition and\nRhetoric. A Manual. 1866.New York:\nAppleton, 1876.\nBlair, Hugh. Lectures on Rhetoric andBelles\nLettres. 1783. Ed. Harold F.Harding. Vol.\n1. Carbondale: Southern Illinois UP, 1965.\nCicero. De Oratore. Trans. E.W. Sutton.\nCambridge, MA: Harvard UP,1942.\nCorbett, Edward P.J. Classical Rhetoric for\nthe Modern Student. 3rd ed. NewYork:\nOxford UP,1990.\nLloyd-Jones, Richard, and Andrea Lunsford, eds.\nThe English Coalition Conference: Democracy through Language. Urbana,IL: National Council of Teachers of English, 1989.\nParker, William Riley. \"Where Do English\nDepartments Come From?\" CollegeEnglish 28 (1967): 339–51.\nQuintilian. Institutio Oratoria. Trans. H.E. Butler. Cambridge, MA: Harvard UP, 1920.\nWhately, Richard. Elements of Rhetoric.\n1828. Ed. Douglas Ehninger.\nCarbondale: Southern Illinois UP, 1963.\n</BibliographyCard>\n\n<SeeAlsoCard>\n  <SeeAlsoLink href=\"/docs/delivery\">Delivery</SeeAlsoLink>\n  <SeeAlsoLink href=\"/docs/memory\">Memory</SeeAlsoLink>\n</SeeAlsoCard>",
        "operationId": "get_actio",
        "responses": {
          "200": {
            "description": "Successful retrieval of the term.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "term": {
                      "type": "string",
                      "example": "Actio"
                    },
                    "content": {
                      "type": "string",
                      "example": "Latin word for"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/terms/advertising-rhetoric-of": {
      "get": {
        "tags": [
          "A"
        ],
        "summary": "Advertising, Rhetoric of",
        "description": "Symbol systems represented in aural, visual, and\nverbal advertising texts. Advertising rhetoric\nhas been the subject of analysis in several disciplines throughout the twentieth century. This\nessay reviews representative areas of cultural\nand literary theory as they have informed current rhetorical perspectives on advertising in\nseveral academic disciplines.\nCurrent theory from a variety of language-\noriented disciplines encourages rhetorical applications, including the conscious merging of ideological analysis and textual criticism, to the field of\nadvertising text perhaps more than to any other\nfield. This fact is supported by work in several related disciplines, all of which have in one way or\nanother carried out rhetorical analyses of text.\nRecently, the modern and classical language\ndisciplines have been strongly influenced by the\nwork of literary theorists such as the American\nStanley Fish, the Russian Mikhail Bakhtin, and\nfeminists Jane Tomkins in America and Julia Kris-\nteva and Hélène Cixous in France. These theorists\nhave broadened the range and critical-ideological\nperspective on the entire notion of textuality and,\nmore pointedly, on the cultural areas from which\nthe texts subjected to serious consideration are\ndrawn. The disciplines of speech and communication have also broadened their approaches from a\ntraditional study of political discourse to include a\nfar broader range of cultural texts and media. They\nhave also broadened their methodological perspectives to include theorists traditionally associated\nwith the social sciences and humanities.\nFinally, historical applications of rhetorical\ntheory, as in recent work on the cultural contexts surrounding the Greek sophists, have been\nbroadened to include analysis of texts drawn\nfrom the so-called \"low\" as well as \"high\"\ncultures. In fact, in the different disciplines in\nwhich rhetorical theory and analysis have been\ncarried out, distinctions between low and high\nculture have been effectively blurred if not totally\neliminated. Also, as the range of texts subject to\nhistorical analysis have expanded, so has the\nrange of study broadened to focus on far more\ncomplex socially constructed contexts, rather\nthan simply the texts themselves. The texts become windows opened to new social realities.\nThese areas traditionally marked out for\nrhetorical theory and analysis have recently\nbeen collectively influenced by two fields of inquiry: composition and cultural studies. In both\nfields rhetoric hasbecome a favored methodology, a means of connecting political and literary theory to the practice of analyzing and\nteaching literacy and culture. Composition,\nwith its focus on increasing the writing skills of\nstudents, has used classical and modern rhetoric to develop theory-based pedagogies in which\nrhetorical analysis of culture supports critical\nwriting. Cultural studies, which now exert significant influence on composition studies, have\nfrom the 1960s brought together neo-Marxist\nand new social theory and criticism drawn from\na broad range of cultural contexts, including\nthose influenced by mass media.\nThis collection of traditional academic\ndisciplines and emerging fields of inquiry has\ncreated a strong foundation for theoretically informed, critically acute, and pedagogically useful work on the rhetoric of advertising. The rest\nof this article will describe and summarize work\nin two specific areas within the larger fields of\ncultural studies and literary theory. These areas\ncontribute directly to rhetorical theory and\npractice as they apply to advertising.\nFantasy Theme Theory and the Rhetoric of\nAdvertising\nErnest G. Bormann's fantasy theme theory provides an effective methodology for analyzing\nadvertising, inasmuch as it combines several\nelements of cultural criticism including\nsocial construction of truth and reality, examination of cultural myths, dramatization of those\nmyths in everyday life and language, and investigation of personal feelings and values that are\nbound to cultural myths and that make possible\npersuasive communication. According to Bor-\nmann, a fantasy theme is something that happened to a group in the past or a dream of what\nthe group might do in the future. A fantasy\ntheme \"chains out,\" or becomes dramatized,\ndeveloping within the group a common culture\nin which values and attitudes are tested and\nlegitimized. Personal feelings and values fuse\nwith symbols and images that sustain a sense of\ngroup or communal identity, impel individuals\nto action, and provide a social reality. A rhetorical vision, or composite drama, constructed\nfrom fantasy themes that chain out into dramas\ncontains motives that impel group members to\nact in a certain way and to ignore contradictions\nbased on logic or prior knowledge. An example\nof rhetorical vision is the perception of unspoiled frontier, ready to be conquered, used, or\nescaped into, that appears in many automobile\nand cigarette advertisements. These advertisements proceed by populating space with symbolic characters, actions, or gestures that complete the fantasy vision.\nIn practice, fantasy theme theory connected\nwith rhetorical methods of criticism provides a\npowerful tool, enabling critics, theorists, and\nteachers to interpret the symbol systems represented in aural, visual, and verbal advertising\ntexts. These systems, viewed from the fantasy\ntheme perspective and subjected to rhetorical\nanalysis, are effectively associated with underlying social, psychological, and ideological patterns embedded in contemporary, electronically\nreproduced mass culture. Rhetoric and fantasy\ntheme theory can be combined with ideologically\nsensitive theory and criticism such as feminist critique (which is capable of adding perceptions of\nstereotyped representations of the sexes to the\ncritical approach) or with theories such as those\ndrawn from the work of philosopher and constructionist Michel Foucault (which are capable\nof intensifying critical perceptions of the\nhegemonic control that visual, aural, and verbal\nlanguage has on the consumers of advertisements) to produce methods that have powerful\ncritical and pedagogical implications.\nKenneth Burke and Mikhail Bakhtin:\nLiterary Rhetoric and Advertising Text\nMuch contemporary cultural criticism had its\norigins in works by literary critics and rhetorical\ntheorists who earlier broadened the base from\nwhich criticism drew its theory. Two of\nthese theorists and critics, the American Kenneth\nBurke and the Russian Mikhail Bakhtin, working in very different cultural contexts, are perfect\nexamples of how literary, critical, and historical\nmethods can be transformed into powerful tools\nof cultural interpretation. Burke, working from\na more confined modernist critical perspective on\n\"high\" culture and literature in the 1920s, and\ninfluenced by the social and cultural upheavals\nof the 1930s and 1940s, generated in those decades and the 1950s and 1960s a set of powerful rhetorical analyses of a wide range of cultural\nartifacts, ranging from Hitler's Mein Kampf to\nthe slogans of advertising and the lyrics of popular songs. The scope of Burke's critical methodology is best represented in his dramatistic theory\n(embodied in a critical apparatus he called the\n\"Pentad\"), which applies a basic formula for\nhuman action within cultural contexts to the\ndynamic of social-psychological interaction embedded in particular texts.\nBakhtin, a classicist who based his later work\non earlier studies of classical and folk traditions\nin the novel, developed two seminal theoretical\nconcepts that are becoming central to rhetorical\nanalyses of text from sociocultural perspectives.\nThe first of those concepts is Bakhtin's notion of\nbeteroglossic text. Such texts are marked by the\nbringing together of different linguistic registers\nand fields and by the mixing of different social-\npolitical and ideological frameworks and languages in texts that are unified by themes that\ncross those linguistic and ideological boundaries.\nThe point of the critical-interpretive act, then, is\nto learn to read complex texts as dynamic social\nentities within which the voices of different passages interact with one another in ways that reveal\ndeeper social, political, and psychological processes.\nThe second concept important to the rhetoric of advertising is embodied in the \"carnival\"\nmetaphor that Bakhtin uses to represent the dynamic and unpredictable ways in which the language of text interacts with the social classes and\ngroupings of its readers. The social carnival surrounding textual reception must, for Bakhtin, be\npart of the critical-interpretive act. The interpreter cannot look for one-to-one relationships\nbetween the structure of a text and the readers,\nfor texts themselves are heteroglossic and the\nreaders are constructed out of many contending\nand overlapping communities of belief, education, political leaning, occupation, and the like.\nBurke's dramatism and Bakhtin's heteroglossic sense of the carnivalesque provide the\nculturally attuned critic and teacher of advertising rhetoric with the broad critical base necessary to go beyond surface analysis of the contents of cotemporary advertising. Once beyond\nthat surface, the latent complexities of advertising reveal themselves to critic, teacher, and student; these revealed complexities can then become a conscious part of the meaning we take\nfrom the rhetoric of advertising.\nDorothy Broaddus and Joseph Comprone\nArizona State University\n\n<BibliographyCard>\nAndrews, James R. The Practice of Rhetorical Criticism. 2nd ed. New York: Longman, 1990.\nBakhtin, M.M. The Dialogic Imagination:\nFour Essays. Trans. Caryl Emerson and\nMichael Holquist. Ed. Michael Holquist.\nAustin: U of Texas P, 1981.\n—. Rabelais and HisWorld. Trans.\nHelene Iswolsky. Cambridge, MA:\nHarvard UP, 1968.\n—. Speech Genres and Other LateEssays. Trans. Vern W. McGee. Ed. Caryl\nEmerson and Michael Holquist. Austin:\nU of Texas P, 1986.\nBizzell, Patricia, and Bruce Herzberg, eds.\nThe Rhetorical Tradition: Readings from\nClassical Times to the Present. Boston:\nBedford, 1990.\nBormann, Ernest G. \"A Fantasy Theme\nAnalysis of the Television Coverage of\nthe Hostage Release and the Reagan Inaugural.\" Quarterly Journal of Speech\n68 (1982): 133–45.\n—. \"Fantasy and Rhetorical Vision:\nThe Rhetorical Criticism of Social Reality.\" Quarterly Journal of Speech 58\n(1972): 396–407.\n—. The Force of Fantasy: Restoring the\nAmerican Dream. Carbondale: Southern\nIllinois UP, 1985.\nBurke, Kenneth. A Grammar of Motives.\nCleveland: World, 1962.\n—. Language as Symbolic Action: Essays\non Life, Literature and Method. Berkeley:\nU of California P, 1966.\n—. A Rhetoric of Motives. Berkeley: U of\nCalifornia P, 1941.\nComprone, Joseph J. From Experience to Expression. 2nd ed. Boston: Houghton, 1981.\nD'Angelo, Frank. \"Advertising in the Composition Class.\" Journal of English\nTeaching Techniques 12 (1982): 31–37.\nFoucault, Michel. The Order of Things: An\nArchaeology of the Human Sciences.\nNew York: Pantheon, 1971.\nFox, Richard Wightman, and T.J. Jackson\nLears, eds. The Culture of Consumption:\nCritical Essays in American History,\n1880-1980. New York: Pantheon, 1983.\nGitlin, Todd. Inside Prime Time. New York:\nPantheon, 1985.\nHall, Stuart, et al., eds. Culture, Media, Language:\nWorking Papers in Cultural Studies, 1972–79.\nLondon: Hutchinson, 1980.\nHart, Roderick P. Modern RhetoricalCriticism. Glenview, IL: Scott, 1990.\nJameson, Fredric. Postmodernism, or The\nCultural Logic of Late Capitalism.\nDurham, NC: Duke UP, 1991.\nJamieson, Kathleen Hall, and Karlyn Kohrs\nCampbell. The Interplay of Influence:\nMass Media and Their Publics in News,\nAdvertising, Politics. 2nd ed. Belmont,\nCA: Wadsworth, 1988.\nJarrett, Susan C. Rereading the Sophists.\nCarbondale: Southern Illinois UP, 1991.\nMarchand, Roland. Advertising the American\nDream: Making Way for Modernity, 1920–\n1940. Berkeley: U of California P, 1985.\nMorson, Gary Saul, ed. Bakhtin: Essays and\nDialogues on His Work. Chicago: U of\nChicago P, 1986.\nWilliams, Raymond. \"Advertising: The Magic\nSystem.\" Problems in Materialism and Culture: Selected Essays. London: NLB, 1980.\nWilliamson, Judith. Decoding Advertisements: Ideology and Meaning in Advertising. London: Marion Boyars, 1978.\n</BibliographyCard>\n\n<SeeAlsoCard>\n  <SeeAlsoLink href=\"/docs/fantasy-theme-analysis\">Fantasy-theme Analysis</SeeAlsoLink>\n</SeeAlsoCard>",
        "operationId": "get_advertising-rhetoric-of",
        "responses": {
          "200": {
            "description": "Successful retrieval of the term.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "term": {
                      "type": "string",
                      "example": "Advertising, Rhetoric of"
                    },
                    "content": {
                      "type": "string",
                      "example": "Symbol systems represented in aural, visual, and"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/terms/african-american-rhetoric": {
      "get": {
        "tags": [
          "A"
        ],
        "summary": "African-American Rhetoric",
        "description": "History of the oral and written languages ofAfrican-Americans. Many of the sermons, speeches,\nautobiographies, poems, novels, plays, songs, and\npolemics (as well as the theoretical discourse) of\nAfrican-Americans serve as complex responses to\nthe oppression they experienced as slaves and second-class citizens of the United States.\nOften legally prohibited from learning to\nread and write, illiterate slaves developed robust\noral traditions, passing down spirituals, sermons, and folktales from one generation to the\nnext. Without this cultural and rhetorical process, African-Americans as a group might not\nhave survived at all. With it, they produced such\norators as Sojourner Truth, whose illiteracy did\nnot interfere with her eloquence or leadership.\nThis oral culture has persisted throughout\nthe twentieth century. Martin Luther King, Jr.,\nwas nurtured by a folk pulpit tradition developed by slaves and continued by others, including King's father, who began sermonizing when\nhe could barely read and write. In the younger\nKing's final, incandescent speech, \"I've Been to\nthe Mountaintop,\" he adapted the slaves' religious world view as he wrote a garbage workers' strike into the biblical story of the Exodus.\nJesse Jackson delivered a variation of a\nsermon originally given at least as early as the\n1860s. The gospel music of Thomas Dorsey, Ma-\nhalia Jackson, and James Cleveland sprang from\nthe folk music of spirituals and blues. In some\nrespects, rap music derives from and resembles\nfolk sermons. An example of the process of folk\ncomposition, \"We Shall Overcome,\" began as a\nhymn around the turn of the century, became a\nlabor song in Charleston during the 1940s, and\nevolved into a national and international civil\nrights anthem during the 1960s and afterward.\nRelated to oral traditions is autobiography,\nthe most significant genre of African-American\nwriting. Scores of slave narratives (sometimes\ntranscribed and framed by whites) sold in extremely large numbers, persuading thousands of\nNortherners of the shocking brutality and hypocrisy of slavery. Frederick Douglass wrote\nthree of the most thoughtful slave narratives,\nmasterfully transmuting his personal traumas as\na slave into a call for radical social change. In\nher narrative, Harriet Jacobs explains her owner's sexual advances and the travails of her\nescape. Again, personal experience serves as a\npowerful vehicle for political protest.\nA vigorous African-American autobiographical tradition persists in the twentieth century,\nwhen almost every important African-American\nliterary and political figure—from W.E.B. DuBois\nand Booker T. Washington to James Baldwin and\nJoAnn Robinson—has written autobiographi-\ncally. These works often intertwine personal\nrevelation with analysis of racial exploitation, accommodation, and resistance. Two of the most\nbrilliant of these works, All God's Dangers by\nNate Shaw and The Autobiography of Malcolm\nX by Malcolm X, are as-told-to autobiographies\nrecorded and transcribed by others.\nAfrican-American women writers, such as\nAnne Moody, Maya Angelou, Audre Lorde,\nand bell hooks, use autobiographical forms as\nmeans of defining themselves and, in hooks's\nwords, of \"talking back\" to challenge established rules of speech and conduct for black\nwomen. Mapping a terrain where the private\nand the social intersect, these writers insist that\nonly here is radical change possible.\nGerda Lerner, Henry Louis Gates, Jr., and\nother contemporary editors are compiling documentary histories, journals, and writings by and\nabout African-American women, who have often\nbeen neglected or misrepresented. Based on misplaced or suppressed records or on oral testimonies\n(including those from court proceedings), some of\nthese works chronicle the lives of public figures,\nsuch as Harriet Tubman and Sojourner Truth, but\nmany record little-known women, whose stories\ntypically reveal a pattern of survival and resistance.\nDrawing from oral testimony that she collected as a folklorist, Zora Neale Hurston, in her 1937\nnovel Their Eyes Were Watching God, showcases\na female protagonist who learns to shed conventional straitjackets of race and sex, reenvisioning\nherself and her community. Through other fictional\nre-creations of women's stories, such contemporary\nwriters as Toni Morrison and Alice Walker (who\nresurrected Hurston's work) are likewise rewriting\noral testimony and diaries. They are, in Walker's\nwords, \"in search\" of their \"mothers' gardens.\"\nFor them, as for Douglass, Jacobs, DuBois,\nHurston, and Malcolm X before them,self-\ndefinition becomes a prerequisite to social\n5\nchange. Like their predecessors, King, Walker,\nMorrison, and Angelou have become role models and mentors for other African-Americans\nwho want to reenvision their lives, tell their stories, and transform the world.\nJeanne Clark and Keith D. Miller\nArizona State University\n\n<BibliographyCard>\nAndrews, William. To Tell a Free Story: The First\nCentury of Afro-American Autobiography,\n1760–1845. Urbana: U of Illinois P, 1986.\nDouglass, Frederick. Narrative of the Life of\nFrederick Douglass. 1845. New York:\nDoubleday, 1963.\nGates, Henry Louis, Jr. The Signifying Monkey. New York: Oxford, 1988.\nhooks, bell. Talking Back: Thinking Feminist,\nThinking Black. Boston: South End, 1989.\nJacobs, Harriet. Incidents in the Life ofa Slave\nGirl. New York: Schomburg Library of\nNineteenth-Century Women Writers, 1990.\nKing, Martin Luther, Jr. A Testament of\nHope. Ed. James Washington. New\nYork: Harper, 1986.\nLerner, Gerda. Black Women in White\nAmerica: A Documentary History. New\nYork: Vintage, 1992.\nLorde, Audre. Sister Outsider: Essays and\nSpeeches. Freedom, CA: Crossing, 1984.\nShaw, Nate (with Theodore Rosengarten). All\nGod's Dangers. New York: Random, 1984.\nWalker, Alice. In Search of Our Mothers'\nGardens: Womanist Prose. San Diego:\nHarcourt, 1983.\nAlcuin of York (735–804)\nA lifelong deacon, born in Northumbria, became the dominant educational force in Charlemagne's Frankish empire. His self-penned\nepitaph reads: Alchuine nomen erat, sophiam\nmihi semper amanti—Alcuin was my name,\nmy love always wisdom.\" Although he was\neducated at York, a leading center of learning\nfor both ecclesiastical and classical studies,\nand spent most of his life there, Alcuin's\ninfluence was greatest as magister of\nCharlemagne's palace school in Aachen and\nafterwards at the abbey of Saint-Martin-de-\nTours. In Aachen he composed the rhetorical\ntreatise Disputatio de rhetorica et de\nvirtutibus, a work derived from the\nCiceronian tradition and labeled \"a work of\npopularization\" (Howell 33).\nAlcuin first began teaching in 768 at the\ncathedral school of York. Ten years later he\nwas given the position of headmaster. There,\nas a bibliophile, he acquired many Christian\nand secular works, especially Virgil, occasionally traveling to the continent to buy books or\nto meet with other scholars. On one of those\nsojourns, in 7 8 1 , Alcuin met with\nCharlemagne, who offered him the position of\nhead of the palace school.\nCharlemagne apparently recognized in Alcuin the type of teacher and scholar he admired,\nbelieving that under Alcuin's direction the\nFrankish court could become a major center of\nlearning. Certainly, during the fourteen years\nthat Alcuin served in that position, from 782 to\n796, Aachen attracted visitors from all over\nEurope, and notable scholars and dignitaries, as\nwell as Charlemagne himself and his family,\nbecame students of Alcuin's. The curriculum\nAlcuin established was developed from the liberal arts tradition: the trivium—grammar,\nrhetoric, and dialectic—and the quadrivium—\nmusic, astronomy, arithmetic, and geometry.\nBut the overall program was decidedly ecclesiastical. Among Alcuin's most significant scholarly efforts were revisions of the Vulgate and of\nthe Gregorian sacramentary. He was also active\nin theological controversies of the era and represented Charlemagne's iconoclastic views at\nthe Council of Frankfurt in 794.\nAlcuin's chief contribution to the rhetorical\ntradition was his textbook on rhetoric and the\nvirtues (794), a fictionalized dialogue between\nCharlemagne and Alcuin. The work is primarily a compendium of Ciceronian rhetorical\ndoctrine, especially Cicero's De inventione and\nJulius Victor's Ars rhetorica. What is original in\nthe work is that which he supplied or adapted\nfrom rhetorical doctrine for ecclesiastical purposes, such as applying epideictic terms to a\nhomily. Most important, he changed the purpose of the virtues—prudence, justice, courage,\nand temperance—from Ciceronian use as topics for invention to moral themes or goals in\npublic questions for the responsible sovereign\nand his subjects (Howell 63–64).\nIn reward for his service to Charlemagne,\nin 796 Alcuin was given charge of the monks at\nSaint-Martin-de-Tours. There he continued to\nteach and more frequently to write for himself.\nHe wrote numerous letters to bishops, kings,\nand even Pope Leo III, sharing with them his\nmoral counsel. When he died on May 19, 804,\nhe had good reason to believe that he had served\nc\nhis age well, if not greatly advancing learning,\nthen certainly protecting it.\nBeth S. Bennett\nUniversity of Alabama\nAlcuin: The Bishops, Kings, and Saints of\nYork. Ed. Peter Godman. Oxford:\nClarendon, 1982.\nAlcuin. Disputatio de rhetorica et de virtutibus\nsapientissimi regis Karli et Albini Magistri.\nRhetores latini minores. Ed. Carolus\nHalm. Leipzig, 1863. Rpt. Dubuque, IA,\nn.d., 523–50.\nAlcuin. Grammatica. Patrologia Latina. Ed.\nJ.P. Migne. Paris: Gamier Fraters, vol.\n101, cols. 849–902.\nAlcuin. The Rhetoric of Alcuin and Charlemagne.\nTrans. Wilbur Samuel Howell. New York:\nRussell and Russell, 1941,1965.\nAllott, Stephen. Alcuin of York, c. 732–804.\nYork: Wm. Sessions, 1974.\nDuckett, Eleanor Shipley. Alcuin, Friend of\nCharlemagne. His World and His Work.\nNew York: Macmillan, 1951.\nWallach, Luitpold. Alcuin and Charlemagne:\nStudies in Carolingian History andLiterature. Cornell Studies in Classical Philology,\nNo. 32. Ithaca, NY: Cornell UP, 1959.\n</BibliographyCard>",
        "operationId": "get_african-american-rhetoric",
        "responses": {
          "200": {
            "description": "Successful retrieval of the term.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "term": {
                      "type": "string",
                      "example": "African-American Rhetoric"
                    },
                    "content": {
                      "type": "string",
                      "example": "History of the oral and written languages ofAfrican-Americans. Many of the sermons, speeches,"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/terms/anacoluthon": {
      "get": {
        "tags": [
          "A"
        ],
        "summary": "Anacoluthon",
        "description": "Completing a sentence with a construction\nthat presupposes a different beginning. Shakespeare used anacoluthon in \"They who\nbrought me in my master's hate, I live to look\nupon their tragedy\" (Richard III 3.2.57). Anacoluthon is common in spoken language when\na speaker begins a sentence in a way that implies a certain logical resolution and then ends\nit differently. Consequently, anacoluthon is\noften found in interior monologues: \"I suppose\nshe was pious because no man would look at\nher twice I hope Ill never be like her a wonder\nshe didnt want us to cover our faces but she\nwas a welleducated woman certainly and her\ngabby talk . . . \" (Joyce, Ulysses).\nArthur Quinn and Lyon Rathbun\nUniversity of California, Berkeley",
        "operationId": "get_anacoluthon",
        "responses": {
          "200": {
            "description": "Successful retrieval of the term.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "term": {
                      "type": "string",
                      "example": "Anacoluthon"
                    },
                    "content": {
                      "type": "string",
                      "example": "Completing a sentence with a construction"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/terms/anadiplosis": {
      "get": {
        "tags": [
          "A"
        ],
        "summary": "Anadiplosis",
        "description": "The repetition of the last word of one line or\nclause to begin the next. Albert Camus used\nanadiplosis in \"To me, it's a tragedy. A tragedy,\neveryone knows what that is. It leaves you\ndefenseless\" (L'Etranger). Anadiplosis can\ninfuse emotional force into a passage: \"Both\nprinces and population groaned in vain; in\nvain did the King's brother, in vain did the\nKing himself clasp Madame to his bosom\"\n(Bossuet, Oraison funebre de la duchesse d'\nOrléans). In dialogue anadiplosis servesto link\nreplies together, as shown in this passage from\nKing Lear: \"Cornwall: Fetch forth the stocks!\nAs I have life and honor, there shall he sit till\nnoon. Regan: Till noon? Till night, my lord,\nand all night too!\" Anadiplosis can also express the premises of a syllogism, as Richard\nIII does in exclaiming, \"Come! I have learn'd\nthat fearful commenting is leaden servitor to\ndull delay; delay leads impotent and snail-\npac'd beggary. Then fiery expedition be my\nwing\" (Richard III 4.3.51).\nWhen used to string together a series of clauses, anadiplosis can produce either a catalogue or\ngradatio (q.v.). Paul demonstrates this use of anadiplosis in writing, \"More than that, we rejoice in\nour suffering, knowing that suffering produces\nendurance, endurance produces character, and\ncharacter produces hope, and hope does not disappoint us, because God's love has been poured\ninto our hearts through the Holy Spirit which has\nbeen given to us\" (Romans 5.3–5).\nArthur Quinn and Lyon Rathbun\nUniversity of California, Berkeley\nAAnaphoraFrom Greek ana- \"on, u p \" + pherein \"to\ncarry\": the repetition of the same word or\nphrase in several successive clauses. More traditional usage within rhetoric restricts the term\nonly to repetition which occurs sequentially in\nclause-initial positions. Analysts in the more\nrecent fields of discourse analysis, pragmatics,\nand theoretical linguistics maintain strong interests in phenomena that are given this label\nbut have developed divergent concepts of its\nidentity and scope.\nRecognition of repetition as a specific rhetorical device dates back to the classical period,\nwhen analysts ascribed to it functions of force\nand emphasis. Application to textual analysis\nhas persisted from the focus on its function in\nspeeches by Greek orators, to the hermeneutic\nexplication of biblical texts, to the stylistic analysis of literary figures. Dickens, for instance,\nmight be characterized as using anaphora in\nconveying a penchant for \"tidiness,\" Joyce as\nextending anaphora to whole sentences in presenting a stream of consciousness, and Orwell\nas exaggerating anaphora in creating images of\npolitical intimidation and oppression. Critical\ndiscourse analysis incorporates this tradition by\nrelating the use of anaphora in spoken and\nwritten text to the enactment of socially constituted power and to the exercise of dominance.\nIn the field of discourse analysis, however,\nthe term anaphora is used to designate any linguistic element that has the same referent as an\nelement that precedes it. This referential tie\nmay be within the same clause, in sequential\nclauses, or over a greater distance: That is,\nanaphora involves reference to any element\nthat has already been established in the discourse. The anaphoric element may be an exact repetition (\"In the beginning was the\nWord, and the Word was with God\"); it may\nbe a synonym or paraphrase (Mary eloped\nwith Bill. The woman is a fool); it may be a\npersonal pronoun substituted for a prior noun\nor noun phrase (All candidates think they can\nwin); it may be a demonstrative (Mary was\nconcerned about her own welfare, as well as\nthat of others); it may be an epithet (I invited\nJohn to dinner, but I can't stand the idiot); or\nit may be a form of do or do it substituted for\na prior predicate (Bill accused Tom of stealing\nhis wallet, but Tom didn't do it). Even a linguistic \"zero\" may signal anaphora (John\nwants 0 [John] to go;cf. John wants him\n[someone else] to go). This list is not exhaustive for English, and types of anaphoric structures differ among languages. Of particular\ninterest to discourse analysts is how anaphora\ncontributes to cohesion within text, and how\ndistance between referential ties is related to\npatterns of overall rhetorical organization.\nThe term cataphora is sometimes used for\n\"forward anaphora,\" in which the element precedes the term it refers to (Because it receives so\nlittle rain, Death Valley is a desert). A closely\nrelated discourse phenomenon is exophoric reference, where the primary referent is not explicitly stated but is evident from context (That is\nunacceptable). Exophoric reference is much\nmore common in spoken than in written text,\nwhere less nonlinguistic context is available for\ninterpretation.\nIn pragmatics, the analysis of anaphora is\nfurther extended to include the effect of presuppositions on the interpretation of elements not\ntraditionally recognized as anaphoric. For example, in \"Did you see the car?\" use of the definite article indicates that the referent has already been introduced in the discourse (text or\ncontext) and thus has an anaphoric function.\nLinguists have been primarily interested in\ndifferent types of anaphora in relation to the\n\"scope\" over which they apply, and as they\nfunction to signal clause relationships and carry\nother grammatical information. Most theoretical developments since the 1970s that apply to\ncoreference have focused on universal syntactic\nconstraints within the binding theory proposed\nby Noam Chomsky. Essentially, the theory (derived from logic) claims that a reflexive anaphor\nmust occur within the same clause (or binding\ndomain) as its antecedent referent, as in \"John\nkicked himself. \" On the other hand, a pronoun\nlike he, she, him, or her cannot be coreferential\nwith any noun or noun phrase in the same\nclause; in \"John kicked him,\" him could not be\ncoreferential with John. This is presented as a\ngeneral linguistic principle that applies to all\nlanguages in the world, although the scope of\na binding domain may vary",
        "operationId": "get_anadiplosis",
        "responses": {
          "200": {
            "description": "Successful retrieval of the term.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "term": {
                      "type": "string",
                      "example": "Anadiplosis"
                    },
                    "content": {
                      "type": "string",
                      "example": "The repetition of the last word of one line or"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/terms/anaphora": {
      "get": {
        "tags": [
          "A"
        ],
        "summary": "Anaphora",
        "description": "From Greek ana- \"on, up\" + pherein \"to\ncarry\": the repetition of the same word or\nphrase in several successive clauses. More tra-\nditional usage within rhetoric restricts the term\nonly to repetition which occurs sequentially in\nclause-initial positions. Analysts in the more\nrecent fields of discourse analysis, pragmatics,\nand theoretical linguistics maintain strong in-\nterests in phenomena that are given this label\nbut have developed divergent concepts of its\nidentity and scope. Recognition of repetition as a\nspecific rhe-\ntorical device dates back to the classical period,\nwhen analysts ascribed to it functions of force\nand emphasis. Application to textual analysis\nhas persisted from the focus on its function in\nspeeches by Greek orators, to the hermeneutic\nexplication of biblical texts, to the stylistic an-\nalysis of literary figures. Dickens, for instance,\nmight be characterized as using anaphora in\nconveying a penchant for \"tidiness,\" Joyce as\nextending anaphora to whole sentences in pre-\nsenting a stream of consciousness, and Orwell\nas exaggerating anaphora in creating images of\npolitical intimidation and oppression. Critical\ndiscourse analysis incorporates this tradition by\nrelating the use of anaphora in spoken and\nwritten text to the enactment of socially consti-\ntuted power and to the exercise of dominance. In the field\nof discourse analysis, however,\nthe term anaphora is used to designate any lin-\nguistic element that has the same referent as an\nelement that precedes it. This referential tie\nmay be within the same clause, in sequential\nclauses, or over a greater distance: That is,\nanaphora involves reference to any element\nthat has already been established in the dis-\ncourse. The anaphoric element may be an ex-\nact repetition (\"In the beginning was the\nWord, and the Word was with God\"); it may\nbe a synonym or paraphrase (Mary eloped\nwith Bill. The woman is a fool); it may be a\npersonal pronoun substituted for a prior noun\nor noun phrase (All candidates think they can\nwin); it may be a demonstrative (Mary was\nconcerned about her own welfare, as well as\nthat of others); it may be an epithet (I invited\nJohn to dinner, but I can't stand the idiot); or\nit may be a form of do or do it substituted for\na prior predicate (Bill accused Tom of stealing\nhis wallet, but Tom didn't do it). Even a lin-\nguistic \"zero\" may signal anaphora (John\nwants 0 [John] to go; cf. John wants him\nFox, Barbara A. Discourse Structure and Anaphora: Written\nand Conversational English. Cambridge: Cambridge UP,\n1987.\nHalliday, M.A.K., and Ruqaiya Hasan. Lan-guage, Context,\nand Text: Aspects of Language in a Social-Semiotic\nPerspec-tive. Oxford: Oxford UP, 1985.\nJespersen, Otto. A Modern English Gram-mar: On Historical\nPrinciples. London: Allen & Unwin, 1913.\nLevinson, Stephen C. Pragmatics. Cambridge: Cambridge UP,\n1983.\nNash, Walter. Rhetoric: The Wit of Persua-sion. Oxford:\nBasil Blackwell, 1989.\nvan Dijk, Teun A. \"Principles of Critical Dis-course\nAnalysis.\" Discourse & Society 4 (1993): 249–83.\nVickers, Brian. In Defence of Rhetoric. Ox-ford: Clarendon,\n1988.",
        "operationId": "get_anaphora",
        "responses": {
          "200": {
            "description": "Successful retrieval of the term.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "term": {
                      "type": "string",
                      "example": "Anaphora"
                    },
                    "content": {
                      "type": "string",
                      "example": "From Greek ana-"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/terms/anapodoton": {
      "get": {
        "tags": [
          "A"
        ],
        "summary": "Anapodoton",
        "description": "Also anantapodoton; a kind of ellipsis (q.v.) in\nwhich an entire clause, usually the second member of a correlative expression, is left unstated.\nWhen Jefferson writes \"That to secure rights,\nGovernments are instituted among Men, deriving their just powers from the governed,\" it is\nobvious from what he has already written that\nhe intends the reader to supply \"Wehold self-\nevident . . . \" Likewise, when Caligula states,\n\"Would that the Roman people had a single\nneck,\" the unstated concluding clause is self-\nevident.\nArthur Quinn and Lyon Rathbun\nUniversity of California, Berkeley",
        "operationId": "get_anapodoton",
        "responses": {
          "200": {
            "description": "Successful retrieval of the term.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "term": {
                      "type": "string",
                      "example": "Anapodoton"
                    },
                    "content": {
                      "type": "string",
                      "example": "Also anantapodoton; a kind of ellipsis (q.v.) in"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/terms/anastrophe": {
      "get": {
        "tags": [
          "A"
        ],
        "summary": "Anastrophe",
        "description": "\"To turn upside down\"; reversal of the usual\norder of words. \"In my years lusty, many a\ndeed doughty did I\" (Puttenham); \"Figures\npedantical\" (Shakespeare, Love's Labor's\nLost 5.2.407). Whereas hyperbaton (q.v.) emphasizes the displacement of a single element,\nthe anastrophe emphasizes the reversal of two\nelements. Sometimes the anastrophe can be\nused to unstring conventional meanings, as\nEliot does in \"Time present and time past /\nAre both perhaps present in time future, / And\ntime future contained in time past\" (\"Burnt\nNorton,\" Pour Quartets). More typically,the\nanastrophe is used to draw attention to, and\nemphasize, the words that have beenreversed: \"Are you good men and true?\" (Much\nAdo About Nothing 3.3.1). Verbscan be reversed with their related nouns or adjectives\nas easily as nouns and adjectives. Cervantes\nis reversing verb and predicate adjective in\n\"For if he like a madman lived, / At least he\nlike a wise one died.\"\nArthur Quinn and Lyon Rathbun\nUniversity of California, Berkeley",
        "operationId": "get_anastrophe",
        "responses": {
          "200": {
            "description": "Successful retrieval of the term.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "term": {
                      "type": "string",
                      "example": "Anastrophe"
                    },
                    "content": {
                      "type": "string",
                      "example": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/terms/antanaclasis": {
      "get": {
        "tags": [
          "A"
        ],
        "summary": "Antanaclasis",
        "description": "\"Reflection, bending back\"; repetition of the\nsame word in two contrasting senses to create\na pun: \"Your argument is sound, nothing but\nsound\" (Benjamin Franklin); \"The long cigarette that's long on flavor\" (ad for Pall Mall\ncigarettes). Antanaclasis is frequent in aphorisms: \"O mortal man, think mortal thoughts!\"\n(Euripides); \"True eloquence takes no heed of\neloquence, true morality takes no heed of morality\" (Pascal). The antanaclasis often appears\nin dialogue, where a speaker takes up the words\nof the interlocutor and changes their meaning\nto the speaker's own advantage. Shakespeare\noften uses antanaclasis in that way, as when\nArmado declares, \"By the North Pole, I challenge thee.\" Costard replies, \"I will not fight\nwith a pole, like a Northern man. I'll slash; I'll\ndo it by thesword\" (Love's Labor's Lost\n5.2.699).\nArthur Quinn and Lyon Rathbun\nUniversity of California, Berkeley",
        "operationId": "get_antanaclasis",
        "responses": {
          "200": {
            "description": "Successful retrieval of the term.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "term": {
                      "type": "string",
                      "example": "Antanaclasis"
                    },
                    "content": {
                      "type": "string",
                      "example": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/terms/anthimeria": {
      "get": {
        "tags": [
          "A"
        ],
        "summary": "Anthimeria",
        "description": "The substitution of onepart of speech for another. A form of enallage (q.v.), anthimeria is\nfound in many of Shakespeare's most memorable lines: \"Report That I am sudden sick.\nQuick and return!\" (Antony & Cleopatra\n1.3.4); \"I'll unhair thy head!\" (2.5.64). \"His\ncomplexion is perfect gallows\" (The Tempest\n1.1.32). In these lines Shakespeare has used an\nadjective as an adverb, a noun as a verb, and\na noun as an adjective. Many notable linesof\nmodern poetry are also the result of\nanthimeria: \"The hot of him ispurest in the\nheart\" (Stevens); \"he sang his didn't he danced\nhis did\" (Cummings); \"O dark dark dark.\nThey all go into the dark. / The vacant interstellar spaces, the vacant into the vacant\"\n(Eliot).\nArthur Quinn and Lyon Rathbun\nUniversity of California, Berkeley",
        "operationId": "get_anthimeria",
        "responses": {
          "200": {
            "description": "Successful retrieval of the term.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "term": {
                      "type": "string",
                      "example": "Anthimeria"
                    },
                    "content": {
                      "type": "string",
                      "example": "The substitution of onepart of speech for another. A form of enallage (q.v.), anthimeria is"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/terms/antidosis": {
      "get": {
        "tags": [
          "A"
        ],
        "summary": "Antidosis",
        "description": "Written c. 353 B.C.E. by Isocrates (436–338 B.C.E.)\nconcerning rhetorical andeducational theory\nand the composition of the public man. Composed long after Against the Sophists, Antidosis\nprovides a glimpse into Isocrates' theories regarding education and rhetoric. Eminent among\nhis discussions, according to Bizzell and\nHerzberg, is \"a long panegyric on the civilizing\npowers of the logos\" (45). The logos, according\nto Isocrates, would be exercised via interdisciplinary training through the trivium and rhetorical\nstudies, though he cautions: \"I hold that men\nwho wish to do some good in the world must\nbanish utterly from their interests all vain speculations and all activities which haveno bearing\non our lives\" (51). Thus, if trained and used\nproperly, \"by the best of conventional morality,\"\nthe logos will form the foundation of successful\noratorical training and the effective orator (45).\nThe logos, in fact, favorably influences the other\naspects of persuasion; \"the power to speak well\nand think right will reward theman who approaches the art of discourse with a love of wisdom and love of honor\" (52). These dual \"loves\"\nlead the orator to seek out, study, and use \"examples which are themost illustrious and the\nmost edifying; and, habituating himself to contemplate and appraise such examples, he will feel\ntheir influence not only in the preparation of a\ngiven discourse, but in all actions in his life\" (52).\nThese theories offer some inkling of the not-\nyet-formed Roman notions about rhetoric and\nthe training and composition of the orator. Susan Jarratt notes that Isocrates, among other\nsophists, took great care in developing a \"model\nof the public intellectual\" (98), individuals\nformed by contact with a multitude of disciplines\nbut who did \"not allow their mindsto be dried\nup by these barren subtleties, nor to be stranded\non the speculations of the ancient sophists\" (51).\nThe public intellectual, for Isocrates, is thus public in the sense that he or she is formed by information in the public domain and uses that information to serve and advance the society.\nThe connection between educationand\nrhetorical theory that Isocrates espousescan\nthus be conceptualized by studying good models, emulating them in action, andusing them\nin discourse. The rhetor thereby constructsan\neminent public persona. This persona will allow\nthe rhetor to \"establish a most honorable name\namong his fellow citizens\" (52).\nJoseph Colavito\nNorthwestern State University\n\n<BibliographyCard>\nBizzell, Patricia, and Bruce Herzberg, eds.\nThe Rhetorical Tradition: Readings from\nClassical Times to thePresent. Boston:\nBedford, 1990.\nGuthrie, W.K.C. The Sophists. Cambridge:\nCambridge UP, 1971.\nIsocrates. \"Antidosis.\" TheRhetorical Tradition: Readings from Classical Timesto\nthe Present. Ed. Patricia Bizzell and\nBruce Herzberg. Boston: Bedford, 1990.\n—. On thePeace. Aereopagiticus.\nAgainst the Sophists. Antidosis.\nPanathenaicus. Trans. George Norlin.\nCambridge, MA: Harvard UP, 1929.\nJaeger, Werner. \"The Rhetoric of Isocrates\nand Its Cultural Ideal.\" The Province of\nRhetoric. Ed. Joseph Schwartz and John\nA. Rycenga. New York: Ronald, 1965.\nJarratt, Susan. Rereading theSophists: Classical Rhetoric Refigured. Carbondale:\nSouthern Illinois UP, 1991.\n</BibliographyCard>",
        "operationId": "get_antidosis",
        "responses": {
          "200": {
            "description": "Successful retrieval of the term.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "term": {
                      "type": "string",
                      "example": "Antidosis"
                    },
                    "content": {
                      "type": "string",
                      "example": "Written c. 353 B.C.E. by Isocrates (436–338 B.C.E.)"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/terms/antimetabole": {
      "get": {
        "tags": [
          "A"
        ],
        "summary": "Antimetabole",
        "description": "Inverting the order of repeated words. Kennedy\nused antimetabole in his famous phrase \"Ask\nnot what your country can do for you, ask what\nyou can do for your country. \" A striking way\nto contrast ideas while sharpening their sense,\nantimetabole is an elegant means of creating an\nantithesis. \"The sabbath was madefor man,\nand not man for the sabbath\" (Mark 2:27); \"Ye\nhave not chosen me, but I have chosen you\"\n(John 15:16); \"Circumstances rule men; men do\nnot rule circumstances\" (Herodotus); \"I wasted\ntime, and now doth time waste me\" (Richard\nII 5.5.49). Asthese examples demonstrate,\nantimetabole turns a sentence spatially around\na center, allowing it to become a self-contained\ne x p r e s s i o n o f m e m o r a b l e t h o u g h t : \" I f a m a n\nwill begin with certainties,he shall end in\ndoubts; but if he will be content to begin with\ndoubts he shall end in certainties\" (Bacon).\nArthur Quinn andLyon Rathbun\nUniversity of California, Berkeley\nAntiphon (c.480 –411 B.C.E.)\nAn early Attic orator from Athens.He taught\nrhetoric and, although rarely appearing in court\nhimself, worked as a legal advisor and\nlogographos, one composing speechesfor others to use in court. Main sources of his life include Thucydides 8 (chapters 68 and 90) and\n1 2 ANTIDOSIS\nPlutarch's Moralia 10, Vitae X Oratorum\n(chapter 1).\nWhen the Four Hundred overthrew democracy in Athens during the war with Sparta\n(411 B.C.E.) in what is known as the oligarchic\nconspiracy, Antiphon led the extremists against\nthe moderates who followed Theramenes and\nAristocrates. When dissension grew in the ranks\nof the Four Hundred, Antiphon and a small\nband went to negotiate peace with Sparta, hoping to obtain support for the extremists. Negotiations failed, and the regime of the Four Hundred fell. Antiphon was tried, condemned, and\nexecuted as a traitor.\nAntiphon's written legacy consists of several\nspeeches. Sixty were circulated under Antiphon's\nname in antiquity, of which at least thirty-five\nwere genuine. Some survive only as fragments,\nincluding the magnificent speech Antiphon delivered in his own defense at his trial. Several complete speeches survive. Three were written for clients to deliver during trials: On the Choreutes (c.\n419), Against the Stepmother (c.416) (possibly a\nrhetorical exercise), and On the Murder of\nHerodes (c. 414). The other speeches, the three\nTetralogies, were written during the third quarter\nof the fifth century as rhetorical exercises outlining how speeches should be composed for both\nthe prosecution and defense. All three pertain to\nhomicide: the first to murder, the second to manslaughter, and the third to homicide in self-defense.\nThe Tetralogies are not based on real cases, but are\nrather models of judicial oratory. Each contains\nthe prosecutor's opening speech, the defense's first\nspeech, the prosecutor's second speech, and the\ndefendant's second and closing speech.\nAntiphon's speeches were written according\nto the standards of fifth-century rhetoric. They\noften lack a developed narrative, for that element\nof arrangement, deriving from Tisias of Sicily,\nhad not yet reached Athens. His speeches, especially the Tetralogies, rely mainly on argument\nfrom probability (that is, artificial proofs like\ncharacter and divine law) rather than inartificial\nproofs (like the evidence of witnesses or human\nlaws). When evidence is used inproof, it is not\nintegrated well with arguments from probability.\nOther avenues of proof are not systematically\nexplored. For example, the ethos of the speaker\nand arguments from pathos are underdeveloped.\nAntiphon's influence includes establishment\nof the standard structure of the court speech: an\nintroduction describing the circumstances of the\ncase, a narration of facts, arguments, and proofs,\nand a peroration. Also, prior to Antiphon there\nwas no convention of prose style in the Attic\ndialect. Antiphon was one of the first to exhibit\nperiodic style more befitting rhetorical argument\nthan the running style of narrative. To accomplish this he employed antithesis in thought and\nword, as well as balanced clauses that correspond even to the number of syllables.\nDuane E Watson\nMalone College\n\n<BibliographyCard>\nCaizzi, Fernanda D. Antiphontis Tetralogiae.\nMilan: Istituto Editoriale Cisalpino, 1969.\nEdwards, M., and S. Usher. Greek Orators–I.\nAntiphon & Lysias. Chicago: Bolchazy\nCarducci, 1985.\nKennedy, George A. The Art of Persuasion in\nGreece. Princeton: Princeton UP, 1963.\n129–33.\nMaidment, K.J. Minor Attic Orators. 2 vols.\nLoeb Classical Library. Cambridge, MA:\nHarvard UP, 1941.\n</BibliographyCard>",
        "operationId": "get_antimetabole",
        "responses": {
          "200": {
            "description": "Successful retrieval of the term.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "term": {
                      "type": "string",
                      "example": "Antimetabole"
                    },
                    "content": {
                      "type": "string",
                      "example": "Inverting the order of repeated words. Kennedy"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/terms/antiptosis": {
      "get": {
        "tags": [
          "A"
        ],
        "summary": "Antiptosis",
        "description": "\"Exchange of case.\" Whereas the hendiadys (q.v.)\nadds an and between the old and new nouns, the\nantiptosis adds an of. The glorious kingdom becomes \"the kingdom of glory\" rather than \"the\nkingdom and the glory.\" The following three examples show how substituting the preposition of\nrather than the conjunction and adds weight to the\nword being emphasized: \"Why are thou so far\nfrom helping me, and from the words of my roaring?\" (Psalm 22:1); \"And above all these things\nput on charity, which is the bond of perfectness\"\n(Colossians 1:17); \"The King's name is a tower of\nstrength\" (Richard III 53.12).\nArthur Quinn and Lyon Rathbun\nUniversity of California, Berkeley",
        "operationId": "get_antiptosis",
        "responses": {
          "200": {
            "description": "Successful retrieval of the term.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "term": {
                      "type": "string",
                      "example": "Antiptosis"
                    },
                    "content": {
                      "type": "string",
                      "example": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/terms/antithesis": {
      "get": {
        "tags": [
          "A"
        ],
        "summary": "Antithesis",
        "description": "The conjoining or contrasting of ideas. \"A man\nshould be mourned at his birth, not at his death\"\n(Montesquieu). Where the number of repetitions\nin the accumulatio (q.v.) is seemingly arbitrary\nand open, the antithesis conveys a sense of completeness with only two terms. Amos depicts the\nabsoluteness of divine judgment, asking, \"Shall\nnot the day of the Lord be darkness, and not\nlight? even very dark, and no brightness in it?\"\n(Amos 5:20). Because the negative presentation\nof its opposite makes the principal idea more\nstriking, antithesis is a powerful vehicle for em-\nphasis: \"All things were made by Him, and without Him was not anything made\" (John 1:3).\nArthur Quinn and Lyon Rathbun\nUniversity of California, Berkeley",
        "operationId": "get_antithesis",
        "responses": {
          "200": {
            "description": "Successful retrieval of the term.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "term": {
                      "type": "string",
                      "example": "Antithesis"
                    },
                    "content": {
                      "type": "string",
                      "example": "The conjoining or contrasting of ideas."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/terms/aposiopesis": {
      "get": {
        "tags": [
          "A"
        ],
        "summary": "Aposiopesis",
        "description": "\"To become silent\"; a form of ellipsis (q.v.) in\nwhich a narrator or character either breaks off\ndiscourse or radically changes its direction.\nKing Lear conveys his rage, stating, \"I will have\nrevenge on you both that all the world shall—\nI will do such things—What they are yet, I\nknow not; but they shall be the terrors of the\nearth!\" (2.4.282). Aposiopesis can be used to\nexpress hesitation or distractedness as well as\ndeep emotion. The figure occurs frequently in\ninterior monologues where the stream of words\nis not cut off so much as fragmented. Thus\nJoyce writes, \"All quiet on Howth now. The\ndistant hills seem. Where we. The rhododenin. All that old hill has seen. Names change:\nthats all. lovers: yum, yum\" (Ulysses 308).\nAposiopesis is sometimes difficult to distinguish\nfrom the anacoluthon (q.v.).\nArthur Quinn and Lyon Rathbun\nUniversity of California, Berkeley",
        "operationId": "get_aposiopesis",
        "responses": {
          "200": {
            "description": "Successful retrieval of the term.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "term": {
                      "type": "string",
                      "example": "Aposiopesis"
                    },
                    "content": {
                      "type": "string",
                      "example": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/terms/apostrophe": {
      "get": {
        "tags": [
          "A"
        ],
        "summary": "Apostrophe",
        "description": "G. apostrophein, \"to turn away\"; when an orator abruptly breaks to address another person\nor personified thing either present or absent.\nMark Antony uses apostrophe when he turns\nfrom the assassins to address Caesar's corpse:\n\"That I did love thee, Caesar, O, 'tis true / If\nthen thy spirit look upon us now, / Shall it not\ngrieve thee dearer than thy death / To see thy\nAntony making his peace / Shaking the bloody\nfingers of thy foes, / Most noble! in the presence\nof thy corpse?\" (Julius Caesar 3.1.194). As this\nquote demonstrates, apostrophe can be used to\namplify a speech with heightened feeling. When\naddressed to some personified thing, an apostrophe can raise the tone of discourse. In \"Ode\nto the West Wind,\" P.B. Shelley writes: \"O wild\nWest Wind, thou breath of Autumn's being /\nThou from whose unseen presence the leaves\ndead / Are driven, like ghosts from an enchanter\nfeeling / . . . / Wild Spirit, thou art moving everywhere.\" Quintilian notes that \"apostrophe—which consists in the diversion of our\naddress from the judge—is wonderfully stirring,\nwhether we attack our adversary . . . or turn to\nmake some invocation.\" More prosaically,\napostrophe can be used to communicate something to a third party who is overhearing a conversation. Thus, at the beginning ofMolière's\nDon Juan, Sganafrelle scolds his own master\nwhile pretending to be addressing someone else:\n\"I'm not speaking to you. . . .I'm speaking to\nthe master I mentioned before. \"\nArthur Quinn and Lyon Rathbun\nUniversity of California, Berkeley\nArabic Rhetoric\nThe translation of classical Greek philosophical\ntexts into Arabic as well as the commentaries\nwritten by medieval Muslim philosophers such\nas Al-Farabi, Avicenna, and Averroes constitute\na considerable contribution to the rhetorical\nand philosophical tradition in the West. This\nnote sketches some of the aspects of the transmission of Greek philosophy into Arabic during the medieval period, paying special attention to the importance of the medieval Muslim\ncommentaries on Aristotle's work and the significant implications they should have when\nincluded in the canon of Western rhetoric.\nWhen the Arabs first marched on the Roman Empire, c. 560 C.E., they conquered Syria,\nEgypt, North Africa, some parts of Asia Minor,\nand the southern Roman provinces. Under the\nOmayyads, who were centered in Damascus, the\nArabs in 664 C.E. continued their conquest,\nsweeping over North Africa until they reached\nthe Atlantic. They crossed the Mediterranean\nSea, conquered Spain, and moved northward\nuntil they reached the plains of France around\n732 C.E.\nWhen the Abbasids came to power in the\nninth century C.E., they established their dynasty\nin Baghdad. In less than fifty years, it became\nthe center for a worldwide culture. After a\ntroubled period of wars, the Arabs devoted their\ntime and wealth to the study of various\nbranches of knowledge under Harun Al-Rashid\nand his son Al-Mamun, whose empire was a\ngood place for a fruitful dialogue between East\nand West: The cultural diversity the empire\nhosted was, as Landau puts it, \"nicely moulded\ninto an amalgam that was truly Arab\" (53).\nFollowing the Prophet's tradition, which urges\nMuslims to \"seek knowledge even unto China,\"\nMuslim scholars in effect sought knowledge\nfrom the neighboring cultures of the Mediterranean. During the reign of Harun Al-Rashid,\nwho entertained good diplomatic relations with\nCharlemagne, exchanging gifts and embassies\nwith the European monarch, the Muslim empire was open to the West in the sense that the\nAbbasid Caliph's palace in Baghdad was turned\ninto a house of learning in which scientists,\ntheologians, musicians, and poets made tremendous contributions in the arts, letters, and science.\nHarun Al-Rashid's son and successor Al-\nMamun continued his father's work by establishing in Baghdad the famous Bayt al-Hikma\n(House of Wisdom), which combined a library,\nan academy, and a translation department.\nHence Greek cultural influence was important\nduring the reign of Al-Mamun; as a result, many\nGreek philosophical and scientific texts were\ntranslated into Arabic. Thus, through Baghdad,\ninto North Africa and Spain flowed a Greek\nculture that was to awaken the European Renaissance. Also during this period, the Arabic culture\nassimilated other foreign cultures in addition to\nthe Greek language and civilization, namely,\nthose of the Persians, the Latins, the Andalusians,\nand the North Africans. In effect, the Islamic\ntexts in astronomy, theology, mathematics, and\nmedicine made the names of Avicenna, Averroes,\nAl-Farabi, and Ibn Hazm appear in the works of\nmedieval and Renaissance scholars such as Roger\nBacon and Thomas Aquinas.\nIn the department of translation (bayt\nattarjama), numerous books were translated\nfrom Greek, Persian, Syriac, Hebrew, Aramaic,\nand Ethiopian into the Arabic language. Music,\nart, architecture, grammar, mathematics, medicine, astronomy, chemistry, and several other\nbranches of learning were studied and cultivated in this \"House of Wisdom.\" Nearly all of\nthe philosophical works of Aristotle, together\nwith the Neo-Platonic commentaries on them,\nwere translated into Arabic.\nSince the Prophet's death in 632 C.E., Muslim philosophers had started to raise profound\nphilosophical questions about the relationship\nof humans with God in the light of the teachings of the Koran and the tradition left by the\nProphet. How can a Muslim kill another Muslim? What is it that makes a true believer? Other\npuzzling questions arose about the apparent\ncontradiction between a perfect God and an\nimperfect world, and the position human beings\nhold between predestination and free will.\nThese concerns, however, never shook the\nMuslim philosophers' faith in God; still they\nwere worth asking, so as to produce a synthesis of the truths of religion and other truths arrived at through scientific investigation and\nphilosophical reasoning.\nIn addition to the koranic tenets that\nneeded to be explained and interpreted, poetry\nwas an important part of the intellectual concerns of Muslim philosophers. From the ninth\ncentury onward, Islamic philosophy was interested in the question of the position that poetry\nshould have in the hierarchy of knowledge. Al-\nFarabi, Avicenna, Averroes, and other Muslim\nphilosophers apparently demonstrated dissatisfaction with what was known about the rules\nof poetry in Arabic culture, and one can argue\nthat their discovery of Aristotle's Poetics seemed\nto have prompted them to undertake commentaries on Aristotle's treatise in which they\nevinced, to use Butterworth's terms, \"a desire to\nredirect Arabic poetry itself, to turn it away\nfrom frivolous, irresponsible, even voluptuous\nand dissolute concerns and to make it serve\nmoral goals\" (1986: xi). Because of the pleasure\nit gives through the imaginative representations\nset forth by the poet and because of the delight\nit offers in its measured lines of rhymed verse,\npoetry can be a powerful persuasive tool, eventually shaping opinions. Muslim commentators\nof Greek texts like the Poetics therefore set the\ngoal for themselves of drawing universal principles of poetry.\nThus, from the ninth century C.E. until the\neleventh century, Muslim translators and commentators, many of whom were Neo-Platonists\nor Neo-Pythagorians, were seriously involved in\nthe transmission of Greek thought into Arabic.\nSome, like Al-Kindi, took upon themselves the\ntask of translating directly from the Greek\nworks in philosophy, medicine, and astrology,\nand writing commentaries on them. In fact, Al-\nKindi was the first Muslim philosopher to translate Aristotle's work directly from Greek and\nSyriac; he wrote commentaries on it in the first\nhalf of the tenth century. Other philosophers,\nsuch as Al-Farabi and Averroes, based their\ncommentaries and treatises on translations already available to them in Arabic.\nIn general, Muslim philosophers worked\nclosely with Greek commentators such as\nThemistius and John the Grammarian, with\nwhom they engaged in an academic debate over\nAristotle's works as well as the commentaries of\nAlexander of Aphrodisias, a well-known Aristotelian commentator at that time. Al-Farabi\n(870–950 C.E.), known in Arabic as \"the second\nteacher\" after Aristotle, and Avicenna (Ibn Sina)\nwere among the major figures in Islamic phi-\nlosophy in the ninth century c.E. who earned\nexcellent reputations in medieval academic\ncircles. Al-Farabi's first major contribution to\nMuslim philosophy was his classification of\nAristotle's works into two categories. In the first\nhe put the Categoriae, the Organon, Analytica\nPriora, Analytica Posteriora, Topica,\nSophistica, Rhetorica, and Poetica. In the second he put Aristotle's eight books on physical\nmatters and also included the three books on\nMetaphysics, Ethics, and Politics. In addition,\nAl-Farabi devoted a whole series of commentaries to the Organon.\nBesides doing important work in philosophy and medicine, Avicenna (980-1034CE.)\nproduced scholarly commentaries on Greek\ntexts, among which the most valuable is his\ncommentary on Aristotle's Poetics.\nRight after Al-Farabi and Avicenna came\nAverroes (1126–1198 c.E.), whose several\ncommentaries on Aristotle's work made him\na well-known Muslim philosopher in the\nMiddle Ages. Averroes composed three types\nof commentary. First, he composed short\ncommentaries or summaries that often included additional material to help readers\nrelate the philosophical discussion to contemporary theological and legal matters. Second,\nhe wrote middle commentaries, longer than\nthe short ones, that tended to come closest to\nthe primary text itself. And third, he produced large commentaries that dealt at considerable length with the primary text but\nshowed frequent diversions to discuss related\nissues.\nThe noted translators of that period, Hu-\nnayn Ibn Ishaq, his son Ishaq, and Ibn Al-\nBitriq, translated most of Aristotle's works.\nPlato's Republic was also translated into Arabic during this period. The Muslim chronicler\nIbn Nadim paid a tribute to these translators\nby referring to them as \"the encyclopedists.\"\nIn the twelfth century, most Latin translations from the Greek came through the Norman kingdom of Sicily. Yet the school of translation in Toledo, Spain, was another important\ncenter in the West actively involved in the rendering into Latin of the Arabic translations\nand commentaries. Hermannus Alemannus\ndid most of the translations of the Arabic commentaries by Averroes and Al-Farabi on Aristotle's Poetics and Rhetoric into Latin between\n1243 and 1256.\nLahcen E. Ezzaher\nUniversity of Arizona\n\n<BibliographyCard>\nBadawi, Abdurrahaman. \"Averroes FaceAu\nTexte Qu'il Commente.\" Multiple\nAverroes. Ouvrage publié avec le\nconcours du CNRS. Paris: Les Belles\nLettres, 1978.\n—. La transmission de la philosophie\ngrecque au monde arabe. Paris: Vrin,\n1968.\nButterworth, Charles E., ed.Averroes' Middle\nCommentaries on Aristotle's Categories\nand De Interpretatione. Princeton:\nPrinceton UP, 1983.\n—. Averroes' Middle Commentary on\nAristotle's Poetics. Princeton: Princeton\nUP, 1986.\n—. Averroes' Three Short Commentaries\non Aristotle's \"Topics,\" \"Rhetoric,\" and\n\"Poetics. \" Albany: State U of New York\nP, 1977.\nCantarino, Vicente. Arabic Poetics in the\nGolden Age. Leiden: Brill, 1975.\nConsacrés aux premieres traductions arabes\nd'oeuvres grecques. Byzantion 29–30\n(1959-1960): 425–36.\nDahiyat, Ismail M. Avicenna's Commentary\non the Poetics of Aristotle. Leiden: Brill,\n1974.\nFaqih, Irfan. Glimpses of Islamic History.\nLahore: Kazi, 1979.\nJum'a, Mohamed Lotfi. The History of Muslim Philosophers in the East and the\nWest. Cairo: Al-Maktaba Al-Tlmiyya,\n1927.\nKemal, Selim. The Poetics of Alfarabi and\nAvicenna. Leiden: Brill, 1991.\nLandau, Rom. Islam and the Arabs. New\nYork: Macmillan, 1959.\nLanghade, J., and M. Grignaschi, eds. Al-\nFarabi: Deux ouvrages inédits sur la\nrhétorique. Beyrouth: Dar El-Machreq,\n1971.\nLeaman, Oliver. Averroes and His Philosophy. Oxford: Clarendon, 1988.\nPeters, F.E. Aristoteles Arabus: The Oriental\nTranslation and Commentaries on the\nAristotelian Corpus. Leiden: Brill, 1968.\nWalzer, Richard. Greek into Arabic. Oxford:\nBruno Cassirer, 1962.\n</BibliographyCard>",
        "operationId": "get_apostrophe",
        "responses": {
          "200": {
            "description": "Successful retrieval of the term.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "term": {
                      "type": "string",
                      "example": "Apostrophe"
                    },
                    "content": {
                      "type": "string",
                      "example": "G. apostrophein,"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/terms/argument": {
      "get": {
        "tags": [
          "A"
        ],
        "summary": "Argument",
        "description": "( 1 ) A process of controversy, dispute, inference,\nand critique; (2) a dialectical or dialogicalprocedure used in discussion and debate; (3) a logi-\ncal product, a serial predication, an utterance;\na textual object open to analysis and critique;\na linguistically explicable claim supported by a\nreason. (To logicians, logical product means a\nconjunction, a proposition of the form p&q.)\nIn popular parlance the term argument\nsuggests a disagreeable confrontation. American journalists, for instance, use it interchangeably with such terms as altercation, quarrel, and\neven fight. In academic parlance, however, the\nterm has more agreeable connotations. Social\nscientists study \"argument\" as a valuable empirical occurrence that takes any number of\nforms in thought, conversations, small groups,\norganizations, legal proceedings, and mass\ncommunication. Humanists treat argumentation as a pedagogically valuable discipline and\nstudy arguments as instances of rational discourse. Rhetorical scholars use \"argument\" to\nlabel a variety of processes—including creative\ninvention, public reason-giving and influence,\nsymbolic enactment, and the joint creation of\nsituations and identities. And logicians construe\narguments as serial predications, as linguistic or\nlinguistically explicable sets of premises and\nconclusions.\nThese diverse scholarly interests fall\nroughly into three categories—process, procedure, and product. Joseph W. Wenzel introduced these rubrics to distinguish the critical\nnorms derived from rhetoric, dialectic, and\nlogic, but the labels will serve here to cluster the\nvarious uses of argument with the scholarly\ninterests that drive them. The term process suggests action and change—that arguments are\ninferential moves, processes of reasoning from\ndata to claims, or differently, that arguments are\nrhetorical processes of invention and reason-\ngiving, or that arguments are emergent social\nprocesses, interactions that evolve over time as\narguers adjust to one another. Argument-as-\nprocess is thus synonymous or closely allied\nwith such terms as reasoning and justification,\narguing or making arguments, and withpolemic, dispute, controversy, conflict, and\ndissensus.\nThe idea of procedure distinguishes debates and discussions from other forms of\ndissensual conversation (say quarrels) by emphasizing that argument is governed by rules—\nby implicit conversational norms, explicit codes\nof conduct, professional and disciplinary\nnorms, and by constraints negotiated in specific\ncontexts. Arguers thus differ from other social\nactors by virtue of their self-conscious agreement on rules, by their roles as advocates, and\nby their reciprocally acknowledged relations to\none another as disputants. Argument-as-proce-\ndure thus evokes such closely allied terms as\ndebate, dialogue, dialectic, and discussion. And\nthe idea of argument as product suggests\nargument's historical association with logic.\nArguments-as-products are textual objects, discursive units of proof composed of claims on\nsomeone's attention and belief linked explicitly\nor implicitly to justifications or warrants. Arguments in this sense are distinguishable components of discourse, claims backed by reasons.\nArgument-as-process is often studied by\nresearchers interested in the organization and\ncoherence of discourse in general. Taking naturally occurring talk as primary data, these studies see argument as a phenomenon that flares up\nand simmers down in social interaction. Interactions become arguments when overt opposition is present. As opposition can be manifested\nin many ways, and may spark a diverse array\nof utterances and actions, the main empirical\nquestion has been why the process is coherent.\nThat is, how do arguers make sense of it? How\ndo they know they are arguing? Why are their\nclaims and counterclaims mutually intelligible\nas claims and counterclaims?\nOne answer is that opposition perse is a\nkind of relationship or co-orientation in which\ninteractants, taking one another's perspectives,\nsee themselves as arguing, as engaged in a reciprocal process in which their utterances mesh as\nclaims and counterclaims (Willard 1987).\nDrawing upon their cognitive repertoires, naive\nsocial actors impute argumentative intentions to\none another and then frame their ongoing behavior according to scripts and plans generally\nappropriate to arguments (Benoit). Another\nanswer is that opposition is itself interpreted by\narguers in terms of broader principles of language comprehension and discourse coherence.\nBarbara J. O'Keefe and PamelaBenoit, for instance, argue that argumentative competence is\na special case of one's general knowledge about\nlanguage, conversational structure, and interaction. Even very young children know how to\nmake assertions, requests, directives, and promises, how to express approval and disapproval,\nhow to take turns in conversations, and how to\ntake the perspectives of others and to acknowledge and respond appropriately to others' utterances. So \"in producing arguments children call\non their general conversational skills\" (173).\nTheir arguments are processes of managing or\nAresolving opposition governed by general prin--ciples of discourse coherence (turn-taking, perspective-taking, speaking appropriately, and so\nforth).\nThe theoretical perspective that has most\nextensively studied argument in order to understand discourse coherence is conversation\nanalysis, which in the argumentation field has\nreceived its most detailed theoretical and empirical treatment in the work of Scott Jacobs\nand Sally Jackson. Conversation, in this view,\nis a process of \"coordinating plans and negotiating meanings,\" a goal-directed problem-\nsolving process \"whereby people generate and\ninfer means to achieve ends according to principles of cooperative action and practical reasoning\" (164–65). At a purely conventional\nlevel, conversation is based on a tacit rule system that prefers agreement. Communicative\nacts are significant gestures, in George Herbert\nMead's terms. They find their completion in\nconventionally preferred responses: questions\nimply answers; requests imply that wishes be\ngranted. Disagreements arise when preferred\nresponses are withheld; arguments, at this simplest level, are processes of conversational repair. Conversations, however, are not simply\nlinear, sequential progressions of adjacency\npairs—naturally coupled speech acts such as\nquestion-answer, offer-accept/decline, request-\ngrant/refuse. There may be many coherentreplies—to, say, a question—that are not literal\nor direct answers. Nor do conversations get\ntheir coherence exclusively from the felicity\nconditions of speech acts. Ordinary language\nphilosophers see felicity conditions as purely\nconventional intentions one communicates by\nperforming an act. In promising, for instance,\none enters an institution of public obligations\nand rules. One is presumptively able to fulfill\nthe promise, one is presumptively sincere, and\none presumptively means to be understood as\nentering the institution of promising. But Jackson and Jacobs report \"empirical anomalies\"\nfollowing such an exclusively conventional account, for people do not characteristically decipher and respond to one another's utterances\nby labeling them as speech-act types. They\nrespond to what they perceive to be a communicator's goals and plans. There is thus a\nconversational presumption that when speakers refer to the felicity conditions of particular\nact types, they have strategically selected conventional means to achieve a goal. This presumption—that as a rule, the behavior of other\npeople is strategic and goal-directed—allows\nconversationalists to make sense of one another's actions, to produce messages with intelligible implications for one another, and torespond coherently and appropriately to one\nanother. Within the framework of this presumption, arguers strategically adapt conversational conventions to fit their intentions and\nplans. Arguments emerge as conversationalists\nproject, avoid, produce, or resolve disagreement; they are communicative acts organized\nand interpreted in terms of mutual perceptions\nof clashing intentions.\nIn contrast to the largely descriptive focus\nof research centered on argument-as-process,\nmost approaches to argument-as-procedure are\nnormatively focused—that is, less concerned\nwith explaining discourse coherence than with\nidentifying optimal ways in which disagreements\nare or might be disciplined. The term discipline\nsuggests, first, that argument is a public process.\nStephen Toulmin, Richard Rieke, and Allan\nJanik, for instance, use the rubric reasoning to\ndesignate an interpersonal and social process of\nthinking and speaking, where thinking and\nspeaking about the justification of beliefs and\nclaims are understood to be equivalent, or virtually so. Argument in this view is a mode of private or public inference—the difference between\nprivate and public being a matter of candor (arguers may conceal their intentions) or a matter\nof skill (arguers may differ in their ability to\ntranslate intentions to performance). Reasoning,\nin this scheme, is a way of putting ideas to the\ntest of public standards. The study of reasoning\nthus focuses on principles of soundness: how\nclaims are supported by reasons, how reasons are\njustified and opened to criticism, and on the principles by which some arguments are better and\nothers worse.\nThe idea of discipline also suggests that\narguments are to some degree self-regulating—\nthat quite apart from any formal rules arguers\nmay follow, context-specific standards of adequacy and fairness emerge as arguments unfold. The presence of opponents obliges arguers to frame their behavior around the\nexpectation of critique and to adjust theiractions to the ongoing moves and perceived expectations of others. As arguers hold one another to the procedural implications of their\nrespective positions and ways of arguing, they\ndevelop a complementary relationship, a mutual awareness of ground rules. Douglas\nEhninger calls this emergent reciprocity argu-\nment as method. The method, in this view, lies\nin opposition per se—in each arguer's awareness of being engaged with another person in a\nprocess of attack and defense. The result is a\nrelationship of circumstantially equal power in\nwhich mutual obligations and opportunities\nemerge.\nAnd the idea of argument-as-disciplined-\nprocedure suggests that arguments are sometimes governed by explicit rules and professional canons. Debates, for instance, are\ncharacteristically more formalized than ordinary conversations. They follow explicit rules\nthat define speaking time, speaker order, and\nspeaker roles. And they usually require rebuttals in which audiences expect debaters to clash\nwith one other, to explicitly address or refute\none another's claims. Parliamentary procedures\nfurther elaborate debate formalities by defining\nin detail all correct ways of adjudicating competing procedural claims and by prohibiting as\nmany foreseeable infractions as possible. The\nmost elaborate apparatus is the code of conduct\nproposed by the Pragma-Dialectical theory\nof the Amsterdam School (Eemeren and Groot-\nendorst 1984, 1992). The code is a normative\napparatus—meant for arguers who jointly intend to resolve a dispute and who hope to behave reasonably in the process. Argumentative\ndiscussions, in this view, require much agreement and cooperation. The arguers must agree\non a common definition of their disagreement,\non rules that will govern their dispute, and on\nthe standards for adjudicating the dispute. And\nafter the argumentation stage of their discussion\nhas been completed, they must agree on the\nresults. Argumentation, in this scheme, is a series of complex speech acts by which arguers\nexternalize their opinions, turn them into verbal claims, test them against one another, and\nsubmit them to arbitration by a rational judge.\nThe code of conduct thus consists of rules for\nthe performance of speech acts. It defines, for\ninstance, which acts are permissible (or not) and\nindispensable (or not) at given stages of an argumentative discussion. It specifies in detail the\nconditions for making correct moves in the exchange. Incorrect moves, in this theory, are\ncalled fallacies—meaning any speech acts that\nhinder the resolution of disputes.\nThe preceding views of process and procedure focus on what Daniel J. O'Keefe calls ar-\nguments2—interactions marked by extended,\novert disagreement. They emphasize processes\nthat differ markedly from what he calls argu-\nments1, or arguments-as-products. Arguments2\nare interactions people have or engage in. Ar-\nguments1 are things people make and utter; they\nare complexes of claims and reasons conveyed\nby the speech-act making an argument. This\ndistinction arose from a controversy about the\nnature of arguments1. Some writers challenge\nthe very idea of seeing arguments as things\n(Brockriede). Others claim that since arguers\nmay use any or all of the communication vehicles available to them, any communication in\nan argument2, verbal or nonverbal, logical or\naesthetic, may be germane to explanations of\nthe meaning and coherence of the process of\narguing (Willard). Arguing that these criticisms\nobscure the distinction betweenargument 1 and\nargument2, O'Keefe advocates defining argu-\nments1 by their paradigm cases. A paradigm\ncase definition emphasizes the most commonly\naccepted, least controversial examples, which in\nthe case of arguments1 \"are ones involving a\nlinguistically explicable claim and one or more\nlinguistically explicable reasons\" (17). Arguments in this sense are discursive units of proof,\nserial predications, claims backed by reasons,\npremises, and conclusions. They are textual\nobjects. They are found in or can be replicated\nin written documents. They are thus open to\ncriticism, to the analysis of their logical and\nprocedural soundness, and to the assessment of\nthe soundness of their warrants (the premises\nfrom which one reasons) and of the validity of\ntheir conclusions (the degree to which their premises logically entail their conclusions).\nO'Keefe's paradigm case is the most often\nquoted definition in the argumentation field,\nbut it has not generated a consensus about\nhow best to explicate arguments1. The paradigm case strategy emphasizes the most clear-\ncut features of argument, features about which\nthere is already a consensus, but it does not\nrule out borderline cases. Borderline cases arise\nbecause texts are often open to an indefinite\nnumber of interpretations. To determine the\nmeanings of claims, the argument analyst may\nneed to speculate about intentions—what particular people mean to be saying in real contexts. Since any number of variables may operate beneath the surface of situated speech to\naffect the meanings of statements, and since\narguers employ a diverse array of behaviors\nduring arguments2, the range of phenomena\nthat might be functionally relevant structural\nfeatures of arguments1 is significantly widened. And since the analyst's conjectures about\nAthe meanings of, say, nonverbal cues, the argu-ers' relationship, and context-specific understandings may themselves be open to objections—the participants, for instance, might\nobject that they are being misunderstood—the\nnature of arguments1 becomes increasingly\nfuzzy. That fuzziness might be seen as a predicament, a distressing obstacle to the achievement of a concrete definition of argumentsr\nBut Barbara O'Keefe and PamelaBenoit propose that fuzziness is best seen as a fact to be\nexplained. Given the diversity of actions that\nmay happen in arguments2, \"attending solely\nto paradigm cases can blind the analyst to the\noperation of multiple attributes and processes\"\n(161).\nThe debate about the range of phenomena\nthat are functionally relevant to arguments1\nreflects a long-standing tension between logic\nand persuasion. That tension, briefly put, is\nthat the degree to which logic is said to be independent of the human frailties that drive persuasion might also be the degree to which logic\nis irrelevant to human discourse. That tension\nperhaps originated with Plato's distinction\nbetween perfection and imperfection—a pristine, impersonal logic exemplifying the former,\nthe mundane facts of persuasion the latter. But\nthe tension is sharpest in Aristotle's Rhetoric,\nwhere a view of logical form is tied to matters\nof human belief, feeling, and context. Rhetorical argument, Aristotle says, proceeds either by\ninduction—that is, arguing from examples,\nfrom a number of similar cases to a general\nconclusion—or by deduction. And it is in his\nexplanation of deduction that the merger of\nlogic and psychology is most explicit. He\ncalled rhetorical deductions enthymemes—a\nterm that many translators believe meant \"in\nthe mind.\"\nAristotle calls the enthymeme a rhetorical\nsyllogism, thereby subordinating his explanation of the forms and materials of rhetorical\nproof to a central distinction in his larger\nphilosophical system, that between form and\nmatter. The enthymeme takes the form of the\ndeductive syllogism while its premises, or materials, are the ordinary opinions of audiences.\nSyllogistic form is a matter of the arrangement\nof premises and the distribution of terms\nwithin and among premises. The classic illustration is a syllogism not found in Aristotle:\nMajor Premise: All humans are mortal; Minor\nPremise: Socrates is human; Conclusion:\nSocrates is mortal. This reasoning starts with\na general, universally true statement (the major premise); it then fits a specific case into the\nuniversal (the minor premise); and finally it\ndraws an inevitable conclusion. The syllogism's validity (its logical soundness) comes\nfrom the arrangement of its terms: The minor\nterm (\"Socrates\") must fit into the major term\n(\"human\") to validly conclude that Socrates\nshares the universal attribute of the class (mortality). Aristotle's rhetorical syllogism may also\nbe formally valid or fallacious, but i
[...]
